.card{
    background-color: #A162F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    
    width: 232px;
height: 266px;
}
.card2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    
    width: 232px;
height: 266px;

}
.card2 i{
    margin-bottom: 1rem;
     
}
.card2 p{
    margin-bottom: 1rem;
     
    font-weight: 700;
}

.progContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin:1rem;
}
.card i{
    margin-bottom: 1rem;
    color: white;
}
.card p{
    margin-bottom: 1rem;
    color:white;
    font-weight: 700;
}
.progedit{
    width: 6rem !important;
    position: relative;
    left: 3rem;
}
 